.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.current-state {
  background: rgba(100, 0, 12, 1);
}

.next-state {
  background: rgba(41, 47, 29, 1);
}

.state {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}
