.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.container:hover {
  background: rgb(31, 34, 35);
}

.container:active {
  background: rgb(0, 54, 97);
}

.event {
  padding: 5px;
  font-size: 14px;
}

.timestamp {
  padding: 5px;
  float: right;
  color: #a0a0a0;
  background-color: #606368;
  border-radius: 5%;
  font-weight: lighter;
  margin-left: auto;
}
