.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.container:hover {
  background: rgb(31, 34, 35);
}

.container.active {
  background: rgb(0, 54, 97);
}

.event {
  padding: 5px;
  font-size: 14px;
}

.actions {
  padding: 5px;
  float: right;
  color: #a0a0a0;
  border-radius: 5%;
  font-weight: lighter;
  margin-left: auto;
}

.action {
  padding: 5px;
  border-radius: 5%;
  font-weight: lighter;
  margin-left: auto;
}

.timestamp {
  background-color: #606368;
  float: left;
  margin-right: 10px;
}

.jump {
  background-color: #606368;
  float: right;
  opacity: 0.8;
}

.jump:hover {
  opacity: 1;
}
